<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>

    <link rel="stylesheet" href="/css/auth/register.css">
</head>

<body>
    <main>
        <h1>register page</h1>
        <form id="registrationForm">
            <label for="username">username</label>
            <input type="text" name="username" id="username">
            <label for="email">email</label>
            <input type="email" name="email" id="email>
            <label for=" password">password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Sign up</button>
        </form>
        <div id="error-container">
            <p></p>
        </div>
        <p>already have an account? <a href="/auth/login">log-in</a></p>
    </main>
</body>
<script src="/js/auth/register.js"></script>

</html>